<div class="container">
  <ul>
    <% @wods.each do |wod| %>
      <%= link_to edit_admin_wod_path(wod) do %>
        <li><%= wod.workout_type%>: <%= wod.workout_date %></li>
      <% end %>
    <% end %>
  </ul>
</div>