// * { box-sizing: border-box; }

// body { font-family: sans-serif; }

// /* ---- grid ---- */

// .grid {
//   background: #EEE;
//   max-width: 1200px;
// }

// /* clearfix */
// .grid:after {
//   content: '';
//   display: block;
//   clear: both;
// }

// /* ---- grid-item ---- */

// .grid-item {
//   width: 160px;
//   height: 120px;
//   float: left;
//   background: #D26;
//   border: 2px solid #333;
//   border-color: hsla(0, 0%, 0%, 0.5);
//   border-radius: 5px;
// }

// .grid-item--width2 { width: 320px; }
// .grid-item--width3 { width: 480px; }
// .grid-item--width4 { width: 640px; }

// .grid-item--height2 { height: 200px; }
// .grid-item--height3 { height: 260px; }
// .grid-item--height4 { height: 360px; }

.blog--row {
  display: block;
}

.box--blog {
  margin: 8px;
  font-size: 17px;
  line-height: 1.4em;
  /* float: left; */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;

  a {
    text-decoration: none;
  }
}

.blog--hero {
  background: image-url('treeline.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  // background-size:contain;
  background-position: center;
  // background-attachment: fixed;
  margin-top: 1em;

  //Prevent blurriness with translateY centering
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  border: 2px solid $black;
  border-radius: 15px;
  padding: 5.3em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 280px;
  overflow: hidden;
}


.blog--title {
  padding-bottom: 0.2em;
  font-size: 3.9rem;
  font-weight: 600;
  text-align: center;
  margin: 0;
  color: $white;
  text-shadow: 1px 1px 2px $ocean-blue, 0 0 25px $white, 0 0 5px $super-blue;
}

.blog--author {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  color: $white;
  text-shadow: 2px 2px 4px $super-blue;
  font-style: italic;
}

.blog--summary {
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  margin: 0;
  color: $white;
  text-shadow: 1px 1px 2px $ocean-blue, 0 0 25px $white, 0 0 5px $super-blue;
  // text-shadow: 2px 2px 4px $super-blue;
}

.container--blog {
  border: 2px solid $super-blue;
  border-radius: 15px;
  padding: 1em;
}

.blog--title__show {
  font-size: 3rem;
  font-weight: 600;
  color: $ocean-blue;
  margin: 0;
  border-bottom: 2px solid $ocean-blue;
}

.blog--body {
  color: $black;
}