.wolf__logo--home{
  height: 395px;
  width: auto;
}

.container--home__logo {
  display: block;
  text-align: center;
}

.home--title__main {
  font-size: 3rem;
  font-weight: 500;
  color: $ocean-blue;
}

.home--title__sub {
  font-size: 2rem;
  color: grey;
}