<% @blogs.each do |blog| %>
  <div class="blog--row">
    <div class="box--blog">
      <div class="blog--hero">
        <%= link_to blog_post_path(blog) do %>
          <p class="blog--title"><%= blog.title %></p>
          <p class="blog--author">By: <%= blog.author %></p>
          <p class="blog--summary"><%= blog.summary %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
