<div class="container--nav__bar">
  <div class="row">
      <div class="fourcol logo">
        MY BIG FAT LOGO
      </div>
      <div class="twocol nav__link">
        a link
      </div>
      <div class="twocol nav__link">
        a link
      </div>
      <div class="twocol nav__link">
        a link
      </div>
  </div>
</div>
