<div class="container--home__logo">
  <%= image_tag "pc-wolf.png", alt: "pc wolf logo", class: "wolf__logo--home" %>
  <div class="home--title__main">
    PREDATOR CAMP
  </div>
  <div class="home--title__sub">
    Conditioning, Knowledge, Preparation
  </div>
</div>