<div class="container--home__logo">
  <div class="wolf__trees">
    <div class="wolf__circle">
      <%= image_tag "pc-wolf.png", alt: "pc wolf logo", class: "wolf__logo--home" %>
    </div>
  </div>
    <div class="home--title__main">
      PREDATOR CAMP
    </div>
    <div class="home--title__sub">
      Conditioning, Knowledge, Preparation
    </div>
</div>