<% if current_user %>
  <div class="container--daily__wod">
    <% if @wod.try(:title).nil? %>
      <p class="title"><%= @wod %></p>
    <% else %>
      <p class="title">Today's WOD: <%= link_to @wod.title, wod_path(@wod) %></p>
    <% end %>
  </div>
<% end %>
<div class="container--home__logo">
  <div class="wolf__trees">
    <div class="wolf__circle">
      <%= image_tag "pc-wolf.png", alt: "pc wolf logo", class: "wolf__logo--home" %>
    </div>
  </div>
    <div class="home--title__main">
      PREDATOR CAMP
    </div>
    <div class="home--title__sub">
      Conditioning, Knowledge, Preparation
    </div>
</div>