<div class="container">
  <%= month_calendar events: @wods do |date, wods| %>
    <%= date.strftime("%d") %>

    <% wods.each do |wod| %>
      <div class="calendar--link">
        <%= link_to wod.workout_type.upcase, wod_path(wod) %>
      </div>
    <% end %>
  <% end %>
</div>
