/* Main Primary color */
$super-blue: #03A7E6;
$ocean-blue: #143C4C;

/* Main Secondary color (1) */
$royal-blue: #3808EA;
$light-purple: #5F45C1;
$dark-purple: #271B53;

$grey: #7F8F95;
$purple-grey: #928EA3;

/* Main Secondary color (2) */
$lime-green: #61F700;
$forest-green: #1D4A00;

/* Main Complement color */
$orange: #FF8500;
$burnt-orange: #552C00;

$white: #fff;
$black: #000;

$error-font-color: #c94235;
$error-border-color: #db8a83;
$error-color: #f5dddb;

$notice-font-color: #444;
$notice-border-color: #9dbc89;
$notice-color: #e3ecdc;

// $font-primary: 'Roboto', sans-serif;

$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Roboto', sans-serif;

/* Breakpoints */
$mobile: new-breakpoint(max-width 500px 12);
$mobile-large: new-breakpoint(max-width 700px 12);
$mobile-xlarge: new-breakpoint(max-width 830px 12);
$tablet: new-breakpoint(max-width 1044px 12);
$desktop: new-breakpoint(min-width 1044px 12);
