.nav__logo {
  padding: 1em 0 1em 5em;
}

.container--nav__bar {
  background: image-url('broken_nav.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  // background-size:contain;
  background-position: center;
  // background-attachment: fixed;
  // margin-top: 2em;
  padding: 1.5em;

  //Prevent blurriness with translateY centering
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.nav__link {
  color: $white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3rem;
  padding: 0.2em 1.4em;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: $grey;
  }
}

.nav__link.current {
  border: 1.5px $wicked-green solid;
  display: inline-block;
  padding: 0.2em 1.4em;
  color: $wicked-green;
  font-weight: 500;
}