<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/meta_tags" %>
  </head>
  <body>
    <%= render "shared/header" %>
    <%= render "shared/flashes" %>
    <div class="container--content">
      <%= yield %>
    </div>
  </body>
</html>
